.load {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.475);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .load__text {
    color: white;
    font-size: 60px;
  }

  @media (max-width:768px) {
    .load__text {
      font-size: 25px;
    }
  }