.detailPage {
    margin-top: 20px;
    .container {
        .detailPage__about {
            display: flex;
            flex-direction: row;
            width: 100%;
            // justify-content: space-around;
            // align-items: baseline
        }
    }
}

@media (max-width:768px) {
    .detailPage {
        .container {
            .detailPage__about {
                display: flex;
                flex-direction: column;
                // justify-content: center;
                // align-items: center;
            }
        }
    }
}