.mySwiper {
    width: 100%;
    .swiper-pagination-bullet-active {
        background: white;
    }
    .slideItem {
        min-height: 400px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        text-shadow: 1px 1px 1px #000;
        padding: 10px 0;
        overflow: hidden;
       
        h2 {
            font-size: 40px;
            z-index: 1;
            text-align: center;
        }
        p {
            font-size: 20px;
            width: 50%;
            text-align: center;
            z-index: 1;
        }
        img {
            position: absolute;
            // left: 0;
            height: 100%;
            transition: 1s;
            width: 100%;
        }
    }
}

@media (max-width:576px) {
    .banner {
        p {
            font-size: 16px;
        }
    }
}

@media (min-width:1700px) {
    .slideItem {
        img {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);   
        }
    }
}