.head__nav {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    .head__logo {
        color: #00C65E;
        font-size: 20px;
    }
    .head__links {
        display: flex;
        height: 100%;
        .head__link {
            cursor: pointer;
            font-size: 14px;
            height: 100%;
            display: flex;
            align-items: center;
            z-index: 1;
            transition: background 0.4s;
            padding: 0px 10px;
            &:hover {
                background: #b3eecf;
                color: black;
                border-bottom: 2px solid  #00C65E;
            }
        }
    }
    .head__link-active {
        background: #b3eecf;
        color: black;
        border-bottom: 2px solid  #00C65E;
    }
}