.basket {
    min-height: calc(100vh - 120px);
    .container {
        margin-bottom: 50px;
        .basket__title {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            h1 {
                font-weight: bold;
                font-size: 30px;
            }
            p {
                span {
                    font-weight: bold;
                }
            }
        }
        .basket__list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .basket__delete-all-container {
                text-align: center;
                .basket__delete-all {
                    background-color: #00C65E;
                    width: 200px;
                    padding: 10px 0px;
                    border-radius: 10px;
                    color: white;
                }
            }
        }
    }
}