.head {
   position: relative;
   display: flex;
   justify-content: center;
    .head__line {
        width: 100%;
        height: 6px;
        position: absolute;
        background: linear-gradient(90deg, #00C65E 26.28%, rgba(0, 198, 94, 0) 101.66%);
        z-index: 2;
    }
    .head__line-bot {
       background: #DADCDC;
       position: absolute;
       height: 1.5px;
       width: 100%;
       bottom: 0;
       z-index: 0;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 64px;
        
        .head__user {
            display: flex;
            align-items: center;
            gap: 6px;
            .head__btn {
                background: #00C65E;
                padding: 4px 8px;
                border-radius: 10px;
                button {
                    color: white;
                    &::after {
                        content: 'Добавить обьявление';
                    }
                }
            }
            .head__icons {
                display: flex;
                gap: 10px;   
            }
            .head__icon {
                color: #00C65E;
                cursor: pointer;
                font-size: 22px;
            }
            .head__icon-ava {
                color: #00C65E;
                cursor: pointer;
                font-size: 30px;
            }
            .head__icon-exit {
                color: #f84242;
                cursor: pointer;
                font-size: 30px;
            }
            img {
                width: 30px;
                height: 30px;
                border-radius: 30px;
                margin-left: 20px;
            }
            p {
                color: #363A45;
                font-size: 14px;
            }
            .head__menu-btn {
                display: none;
                
            }
            .head__login {
                border: 1px solid #00C65E;
                padding: 2px 4px;
                border-radius: 10px;
                background-color: #00C65E;
                color: white;
            }
        }
    }
}

@media (max-width:768px) {
    .head {
        .container {
            .head__user {
                .head__btn {
                    padding: 2px 8px;
                    button {
                        &::after {
                            content: '+';
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:568px) {
    .head {
        .container {
            .head__nav {
                .head__link {
                    display: none;
                }
            }
            .head__user {
                
                .head__menu-btn {
                    display: block;
                    z-index: 5;
                }
            }
        }
    }
}