.category {
    width: 60%;
    .category__list {
        display: flex;
        gap: 4px;
        border-radius: 10px;
        flex-wrap: wrap;
        .category__item {
            border: 1px solid #DADCDC;
            border-radius: 10px;
            padding: 2px 4px;
            cursor: pointer;
            &:hover {
                background: #b3eecf;
            color: black;
            border-bottom: 2px solid  #00C65E;
            }
        }
        .category__item-active {
            background: #b3eecf;
            color: black;
            border-bottom: 2px solid  #00C65E;
        }
    }
}

@media (max-width:576px) {
    .category {
        width: 90%;
    }
}